fieldset {
    background: linear-gradient(75deg, rgb(255, 255, 255), rgb(127, 127, 127));
}
h4 {
    color: rgb(0, 127, 127);
}
footer {
    padding-top: 430px;
    text-align: center;
    color: rgb(150, 150, 150);
}
form {
    padding-top: 50px;
}
img {
    block-size: 50px;
    transform: rotate(50deg);
}